:root {
    --primary-dark: #1E1E1F;
    --secondary-dark: #141414;
    --accent-purple: #5723DF;
    --white: #cacaca;
    --light-blue: #5FADF4;

}
@import url(https://fonts.bunny.net/css?family=albert-sans:300,400,500);

button,
input[type="submit"],
input[type="reset"] {
    background: var(--accent-purple);
    color: rgb(214, 214, 214);
    border: none;
    margin: 10px;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 5px;
}


button:hover {
    background-color: var(--light-blue);
}

body {
    background-color: var(--primary-dark);
    padding: 0;
    margin: 0;
    color: var(--white);
    font-family: 'Albert Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: solid; */
    border-bottom: solid 4px var(--accent-purple);
    
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
    list-style-type: none;
    padding: 10px;
}

li {
    padding-right: 20px;
}

.bx1 {
    display: flex;
    background-color: var(--secondary-dark);
    align-items: center;
    justify-content: center;
    padding: 90px;
    border-bottom: solid 4px var(--accent-purple);
}

.bx2 {
    display: flex;
    background-color: var(--secondary-dark);
    align-items: center;
    justify-content: center;
    padding: 90px;
    border-bottom: solid 4px var(--accent-purple);
}

#info {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
}